/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
 }

 .login-header {
   display: flex;
   flex-direction: row;
   padding: 20px;
   justify-content: flex-end;
   background-color: rgb(236, 236, 236);
 }

 .login-header ul {
   display: flex;
 }

 .login-header a {
  cursor: pointer;
 }

 .divider {
   width: 50px;
 }

 .signup-button, .login-button {
  padding: 20px;
  margin-bottom: 20px;
 }

.splash {
}

.splash img {
  max-width: 100%;
  max-height: 100%;
}

.splash h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 600px;
  left: 120px;
}

.splash h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 500px;
  left: 120px;
}

.large-signup {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  position: absolute;
  bottom: 400px;
  left: 220px;
  cursor: pointer;
}