/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   /* font-family: 'Spectral SC'; */
   font-family: 'Eczar';
   margin: 0;
   background-color: rgb(255, 255, 255);
 }

 .login-header, .logout-header {
   color: white;
   display: flex;
   flex-direction: row;
   padding: 20px;
   justify-content: flex-end;
   background-color:#A31F34;
   font-size: 15px;
 }

 .login-header ul, .logout-header ul {
   display: flex;
 }

 .login-header a, .logout-header a {
  cursor: pointer;
 }

 .divider {
   width: 50px;
 }

 .signup-button, .login-button {
  padding: 20px;
  margin-bottom: 20px;
 }

.splash {
}

.splash img {
  max-width: 100%;
  max-height: 100%;
}

.splash h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 600px;
  left: 120px;
}

.my-courses h3{
  margin-top: 0;
}

.splash h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 500px;
  left: 120px;
}

.large-signup {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  position: absolute;
  bottom: 400px;
  left: 220px;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.hello-user {
  margin: 0;
}

/* Dashboard */

.my-courses {
  display: flex;
  flex-direction: column;
}

.course-or-quiz-list ul {
  display: flex;
  font-family: 'Indie Flower', sans-serif;
  text-align: center;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 10%;
  width: 80%;
}

.course-or-quiz-list a {
  text-decoration: none;
  color: black;
}

.course-or-quiz-card-0 {
  background-image: url(http://res.cloudinary.com/dfafbqoxx/image/upload/v1512885720/Screen_Shot_2017-12-09_at_10.00.36_PM_atoivx.png);
  background-size: 150%;
  background-repeat: no-repeat;
}

.course-or-quiz-card-1 {
  background-image: url(http://res.cloudinary.com/dfafbqoxx/image/upload/v1512885720/Screen_Shot_2017-12-09_at_10.01.07_PM_qsq1i0.png);
  background-size: 150%;
  background-repeat: no-repeat;
}

.course-or-quiz-card-2 {
  background-image: url(http://res.cloudinary.com/dfafbqoxx/image/upload/v1512885720/Screen_Shot_2017-12-09_at_10.01.17_PM_z7g3ue.png);
  background-size: 150%;
  background-repeat: no-repeat;
}

.course-or-quiz-card-3 {
  background-image: url(http://res.cloudinary.com/dfafbqoxx/image/upload/v1512885720/Screen_Shot_2017-12-09_at_10.00.07_PM_jy7m7i.png);
  background-size: 150%;
  background-repeat: no-repeat;
}

.course-or-quiz-list li {
  font-size: 20px;
  font-weight: 900;
  list-style: none;
  border: 1px solid black;
  padding: 40px;
  min-height: 100px;
  min-width: 140px;
  max-width: 140px;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
}

.example-enter {
	margin-top: 30px;
	opacity: .01;
	
}

.example-enter.example-enter-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}

.example-leave {
	margin-top: 0px;	
	opacity: 1;
	
}

.example-leave.example-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease;
}

.course-or-quiz-list span {
  display: flex;
  flex-flow: wrap;
}

.course-or-quiz-list li:hover {
  background-color: rgb(223, 215, 215);
  transform: scale(1.1);
  /* color: white; */
}

.course-or-quiz-divider {
  width: 20px;
  height: 20px;
}

.tags li {
  list-style: none;
}

.dash {
  padding-left: 20px;
  font-size: 20px;
}

.tags li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 15%;
  padding: 5px;
  border: 1px solid gray;
  transition: all .2s ease-in-out;
}

.tags li:hover {
  background-color: rgb(143, 143, 143);
  transform: scale(1.05);
}

.tag-divider {
  width: 5px;
  height: 5px;
}

.tags-active {
  background-color: darkgray;
  color: white;
}

